<div class="bg-background"></div>
<div class="container py-5">
    <div class="row py-5 g-3">

        <div class="col-md-6 first_col">
            <h1 class="text-center mt-3">Contact Us</h1>
            <form class="p-4 mt-5">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email ID</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3" placeholder="Enter your message"></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary">Send Now</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 sec_col">
            <img src="assets/contact.jpg" class="img-fluid">
        </div>
    </div>
    <div class="row-last">
        <div class="row row-cols-1 row-cols-md-3 p-3 text-white">
            <div class="col">
                <h4>CALL US</h4>
                <p>8 727 357 42 51</p>
            </div>
            <div class="col">
                <h4>LOCATION</h4>
                <p>Tole bi 59</p>
            </div>
            <div class="col">
                <h4>Email</h4>
                <p>aldan.zhanel</p>
            </div>
        </div>
    </div>
</div>
