<div class="offers-container">
    <h2 class="offers-title">Latest Offers:</h2>
    <div class="offer-cards">
      <div class="offer-card">
        <div class="offer-details">
          <h3>Business Class</h3>
          <p>Unlock Premium Luxury: Elevate Your Journey with Our Exclusive Offers!</p>
        </div>
      </div>
      <div class="offer-card">
        <div class="offer-details">
          <h3>Travel Buddy</h3>
          <p>Share the Joy of Travel and Save by getting 30% discount.</p>
        </div>
      </div>
      <!-- Add more offer cards here -->
    </div>
  </div>
  